@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFE93A;
	font-size: 20px;
}

h1 {
	font-size: 40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center;
	text-decoration: underline;
}

.item {
	position: absolute;
	left: 60%;
}

#order {
	padding-left: 40%;
}
